ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkcyan;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Dimbo, sans-serif;
  font-weight: bold;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
}
li a:hover:not(.active) {
  background-color: cadetblue;
}
.logo_quizz{
  margin-left: auto;
  margin-right: auto;
  width: 12em
}

