 <div class="container text-center align-middle" style="height: 100px;">
    <div class="row d-flex justify-content-around">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div *ngIf="changement == false" class="card-body">
            <h5 class="card-title">Simulation</h5>
            <p class="card-text">Ecran examinateur</p>

            <p style="text-align: center">Question n°1/20</p>
            <p style="text-align: center">Quelle est la meilleure reponse ?</p>

            <a class="btn btn-primary">Réponse A</a>
            <a class="btn btn-primary">Réponse B</a>
            <a class="btn btn-primary">Réponse C</a>
            <a class="btn btn-primary">La réponse D</a>

            <p>Réponse de la question</p>
          </div>

          <div *ngIf="changement == true" class="card-body">
            <h5 class="card-title">Simulation</h5>
            <p class="card-text">Ecran examinateur</p>

            <p style="text-align: center">Question n°1/20</p>
            <p style="text-align: center">Quelle est la meilleure reponse ?</p>

            <p>Réponse de la question</p>

            <p id="note">Note :
                <button onclick="ajout(0)">0</button>
                <button onclick="ajout(1)">1</button>
                <button onclick="ajout(2)">2</button>
                <button onclick="ajout(3)">3</button>
                <button onclick="ajout(4)">4</button>
                <button onclick="ajout(5)">5</button>
            </p>
          </div>
          <button (click)= "changerQuestion()" class="btn btn-primary">Test affichage Question Ouverte/Fermée </button>
        </div>
      </div>
    </div>
    
  </div>
  

  <!--
<mat-grid-list cols="1" rowHeight="1:2">
    <p style="text-align: center">Question n°1/99</p>
    <p style="text-align: center">Quelle est la meilleur reponse ?</p>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <mat-card>
      <mat-card-header>
        </mat-card-header>
        <a href="#"><p style="text-align: center">Reponse A</p></a>
        <a href="#"><p style="text-align: center">Reponse B</p></a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
      <mat-card-header>
        </mat-card-header>
        <a href="#"><p style="text-align: center">Reponse C</p></a>
        <a href="#"><p style="text-align: center">La Reponse D</p></a>
      </mat-card>
    </mat-grid-tile>
  <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
              </mat-card-header>
              <a href="#"><p style="text-align: center">Reponse Question</p></a>
            </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-grid-list>
-->
  