<div class="container text-center align-middle" style="height: 100px;">
  <div class="row d-flex justify-content-around">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/survival.jpg" class="card-img-top" alt="..." style="width: auto; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{'home.gamemodes.survival.title' | translate }}</h5>
          <p class="card-text">{{'home.gamemodes.survival.description' | translate }}</p>
          <a href="/survival" class="btn btn-primary">{{'home.play' | translate }} <i class="bi bi-play"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/entretien.jpg" class="card-img-top" alt="..." style="width: auto; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{'home.gamemodes.training.title' | translate }}</h5>
          <p class="card-text">{{'home.gamemodes.training.description' | translate }}</p>
          <a href="/entrainement" class="btn btn-primary">{{'home.play' | translate }} <i class="bi bi-play"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/entretien2.png" class="card-img-top" alt="..." style="width: auto; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{'home.gamemodes.simulation.title' | translate }}</h5>
          <p class="card-text">{{'home.gamemodes.simulation.description' | translate }}</p>
          <a href="/simulation" class="btn btn-primary">{{'home.play' | translate }} <i class="bi bi-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-overlay></app-overlay>
