<div class="container text-center align-middle" style="height: 100px;">
  <div class="row d-flex justify-content-around">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/survival.jpg" class="card-img-top" alt="..." style="width: auto; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Survie</h5>
          <p class="card-text">aeiuguihrtoiughruyihtgiuezhruiogeorhezuioghiuerghiuzehguieruigheziughriuehgiuezhrugiheziguheziuhguigehuzigiuzehgiuezhiugheziughzeiughiuezhguiezhgiuezhgiuhez</p>
          <a href="/simulation" class="btn btn-primary">Jouer</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/entretien.jpg" class="card-img-top" alt="..." style="width: auto; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Entrainement</h5>
          <p class="card-text">(Description)</p>
          <a href="/entrainement" class="btn btn-primary">Jouer</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/entretien2.png" class="card-img-top" alt="..." style="width: auto; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Simulation</h5>
          <p class="card-text">(Description)</p>
          <a href="/simulation" class="btn btn-primary">Jouer</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<mat-grid-list cols="3" rowHeight="3:4">
  <mat-grid-tile>
    <mat-card [routerLink]="['/survival']">
      <img mat-card-image id ="picture" src="assets/img/survival.jpg" width="450" height="450">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/entrainement']">
      <img mat-card-image src="assets/img/entretien.jpg" width="450" height="450">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/simulation']">
      <img mat-card-image src="assets/img/entretien2.png" width="450" height="450">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
-->
