<div class="container">
  <div class="row" class="bg-dark" style="border-radius: 0% 0% 60px 60px">
    <div class="col">
        <h5 class="text-light" style="text-align: center;">{{'training.title' | translate }}</h5>
    </div>
  </div>
  <div class="row" *ngIf="!config">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Question 1/20</h5>
          <p class="card-text" style="text-align: center;">Quel est la meilleure réponse ?</p>{{categories | json}}
          <div class="row">
            <div class="card" *ngFor="let q of categories">
              <div {{getQuestion(q.id_categorie)}}></div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse A</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">Reponse B</button>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse C</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">La Reponse D</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="config">
    <div class="col">
      <div class="card">
        <h5 class="card-header"><i class="bi bi-gear"></i> {{'training.setup.title' | translate }}</h5>
        <div class="card-body">
          <label><i class="bi bi-stopwatch"></i> {{'training.setup.addtimer' | translate }}</label>&nbsp;
          <input (change)="switchTimer()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <br /><br />
          <label><i class="bi bi-lightning"></i> {{'training.setup.baclevel' | translate }}</label>&nbsp;
          <div class="input-group">
            <select [(ngModel)]="selectedBac" (ngModelChange)="onChange($event)" name="selectBac" class="form-select" aria-label="Select bac">
              <option value="bac+2">BAC+2</option>
              <option value="bac+3">BAC+3</option>
            </select>
          </div>
          <hr>
          <button class="btn btn-primary" (click)="changeTheme(content2)"><i class="bi bi-send"></i> {{'training.play' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-2"><i class="bi bi-patch-question"></i> {{'training.theme.title' | translate }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-4">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/mysql.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.database.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.database.description' | translate }}</p>
                <button (click)="endconf('Basededonnées')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/reseau.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.network.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.network.description' | translate }}</p>
                <button (click)="endconf('Réseau')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/frontend.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.frontend.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.frontend.description' | translate }}</p>
                <button (click)="endconf('Web-Front')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/backend.png); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.backend.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.backend.description' | translate }}</p>
                <button (click)="endconf('Web-Back')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/poo.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.oop.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.oop.description' | translate }}</p>
                <button (click)="endconf('ProgObjet')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/experience.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.experience.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.experience.description' | translate }}</p>
                <button (click)="endconf('Experience')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/personnel.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.personnal.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.personnal.description' | translate }}</p>
                <button (click)="endconf('Personnel')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/php.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.php.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.php.description' | translate }}</p>
                <button (click)="endconf('PHP')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/softskills.webp); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.softskills.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.softskills.description' | translate }}</p>
                <button (click)="endconf('SoftSkills')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/random.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.random.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.random.description' | translate }}</p>
                <button (click)="endconf('random')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/all.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">{{'training.theme.all.title' | translate }}</h5>
                <p class="card-text">{{'training.theme.all.description' | translate }}</p>
                <button (click)="endconf('all')" class="btn btn-primary">{{'training.theme.select' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<div style="position: fixed; bottom: 10px; right: 10px;">
  <button *ngIf="!config" class="btn btn-warning"><i class="bi bi-patch-question"></i> Thème : {{theme}}</button>
  <button *ngIf="!config && time" class="btn btn-primary"><i class="bi bi-stopwatch"></i> {{ this.time }}s</button>
</div>
