<div class="container">
  <div class="row" class="bg-dark" style="border-radius: 0% 0% 60px 60px">
    <div class="col">
        <h5 class="text-light" style="text-align: center;">{{'training.title' | translate }}</h5>
    </div>
  </div>
  <div class="row" *ngIf="!config">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Question 1/20</h5>
          <p class="card-text" style="text-align: center;">Quel est la meilleure réponse ?</p>
          <hr>
          <div class="row">
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse A</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">Reponse B</button>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse C</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">La Reponse D</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="config">
    <div class="col">
      <div class="card">
        <h5 class="card-header"><i class="bi bi-gear"></i> {{'survival.setup' | translate }}</h5>
        <div class="card-body">
          <ngb-alert *ngIf="errorMessage" type="danger" (closed)="errorMessage=''">{{ errorMessage }}</ngb-alert>
          <label><i class="bi bi-stopwatch"></i> Ajouter un timer ?</label>&nbsp;
          <input (change)="switchTimer()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <hr>
          <button class="btn btn-primary" (click)="changeTheme(content2)"><i class="bi bi-send"></i> Jouer</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-2"><i class="bi bi-patch-question"></i> Choix du thème des questions</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-4">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/mysql.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Base de données</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('bdd')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/reseau.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Réseau</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('reseau')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/frontend.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Web - Front</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('frontend')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/backend.png); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Web - Back</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('backend')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/poo.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Prog Objet</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('poo')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/experience.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Experience</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('experience')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/personnel.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Personnel</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('perso')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/php.jpg); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">PHP</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('php')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-body" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(assets/img/themes/softskills.webp); background-repeat: no-repeat; background-size: 100%;">
                <h5 class="card-title">Soft Skills</h5>
                <p class="card-text">(Description)</p>
                <button (click)="endconf('softskills')" class="btn btn-primary">Sélectionner</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<div style="position: fixed; bottom: 10px; right: 10px;">
  <button *ngIf="!config" class="btn btn-warning"><i class="bi bi-patch-question"></i> Thème : {{theme}}</button>
  <button *ngIf="!config && time" class="btn btn-primary"><i class="bi bi-stopwatch"></i> {{ this.time }}s</button>
</div>
