<div class="container">
  <div class="row" class="bg-dark" style="border-radius: 0% 0% 60px 60px">
    <div class="col">
        <h5 class="text-light" style="text-align: center;">{{'training.title' | translate }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Question 1/20</h5>
          <p class="card-text" style="text-align: center;">Quel est la meilleure réponse ?</p>
          <hr>
          <div class="row">
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse A</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">Reponse B</button>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse C</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">La Reponse D</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
