<div class="container">
    <div class="row">
        <div class="col">
            <p style = "text-align: center; font-size: xx-large;">Mode Survie </p>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="text-align:center">Question n°1/99</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="text-align:center">Quel est la meilleure réponse ?</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p style = "text-align:right;">Vie(s) = 10 <img src="assets/img/images vie.PNG" style="height:25px; margin-right: auto;"></p> 
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center text-center align-middle" style="height: 100px;">
    <div class="row d-flex justify-content-around">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card" style="width: 18rem;">
              <a href="#" class="btn btn-primary">Reponse A</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card" style="width: 18rem;">
            <a href="#" class="btn btn-primary">Reponse B</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card" style="width: 18rem;">
            <a href="#" class="btn btn-primary">Reponse C</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card" style="width: 18rem;">
            <a href="#" class="btn btn-primary">La Reponse D</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
