<div class="container">
  <div class="row" class="bg-dark" style="border-radius: 0% 0% 60px 60px">
    <div class="col">
      <h5 class="text-light" style="text-align: center;">{{'survival.title' | translate }}</h5>
    </div>
  </div>
  <div class="row" *ngIf="this.config == 'true'">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Question 1/99</h5>
          <p class="card-text" style="text-align: center;">Quel est la meilleure réponse ?</p>
          <hr>
          <div class="row">
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse A</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">Reponse B</button>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <button class="btn btn-primary">Reponse C</button>
              </div>
              <div class="card">
                <button class="btn btn-primary">La Reponse D</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="this.config == 'false'">
    <div class="col">
      <div class="card">
        <h5 class="card-header"><i class="bi bi-gear"></i> {{'survival.setup.title' | translate }}</h5>
        <div class="card-body">
          <ngb-alert *ngIf="errorMessage" type="danger" (closed)="errorMessage=''">{{ errorMessage }}</ngb-alert>
          <label for="typeahead-basic"><i class="bi bi-people"></i> {{'survival.nbplayers.title' | translate }}</label>
          <input id="typeahead-basic" type="text" placeholder="{{'survival.nbplayers.placeholder' | translate }}" class="form-control d-flex" style="width: 100%;" [(ngModel)]="model"/>
          <br />
          <label><i class="bi bi-stopwatch"></i> {{'survival.setup.addtimer' | translate }}</label>&nbsp;
          <input (change)="switchTimer()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <hr>
          <button class="btn btn-primary" (click)="envoyer()"><i class="bi bi-send"></i> {{'survival.play' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container-fluid" style="position: fixed; bottom: 10px;">
  <div class="row">
    <div class="col-lg-6">
      <button (click)="Modal.open(content)" class="btn btn-dark"><i class="bi bi-gear"></i> {{'footerbar.settings' | translate }}</button>
    </div>
    <div class="col" style="text-align: right;">
      <button *ngIf="tab_create && time" class="btn btn-primary"><i class="bi bi-stopwatch"></i> {{ this.time }}s</button>
      <button *ngIf="tab_create" class="btn btn-danger"><i class="bi bi-heart"></i> 10 {{'survival.bar.lives' | translate }}</button>
      <button *ngIf="tab_create" class="btn btn-warning"><i class="bi bi-people"></i> {{ this.joueurs }} {{'survival.bar.players' | translate }}</button>
    </div>
  </div>
</div>-->
<app-overlay></app-overlay>
